{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html>
<head>
	<title>Woodland Middle</title>
	<link rel="stylesheet" type="text/css" href="/static/schoolpage.css">
</head>
<body>
	<div id="header">
    <h3>Woodland Middle School's Homepage</h3>
	</div>
	<div id="table">
		<table>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass1'">Example Class 1</th> 
				<th onClick="location.href='/woodlandm/exampleclass2'">Example Class 2</th> 
				<th onClick="location.href='/woodlandm/exampleclass3'">Example Class 3</th> 
				<th onClick="location.href='/woodlandm/exampleclass4'">Example Class 4</th> 
				<th onClick="location.href='/woodlandm/exampleclass5'">Example Class 5</th> 
				<th onClick="location.href='/woodlandm/exampleclass6'">Example Class 6</th> 
				<th onClick="location.href='/woodlandm/exampleclass7'">Example Class 7</th> 
				<th onClick="location.href='/woodlandm/exampleclass8'">Example Class 8</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass9'">Example Class 9</th> 
				<th onClick="location.href='/woodlandm/exampleclass10'">Example Class 10</th> 
				<th onClick="location.href='/woodlandm/exampleclass11'">Example Class 11</th> 
				<th onClick="location.href='/woodlandm/exampleclass12'">Example Class 12</th> 
				<th onClick="location.href='/woodlandm/exampleclass13'">Example Class 13</th> 
				<th onClick="location.href='/woodlandm/exampleclass14'">Example Class 14</th> 
				<th onClick="location.href='/woodlandm/exampleclass15'">Example Class 15</th> 
				<th onClick="location.href='/woodlandm/exampleclass16'">Example Class 16</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass17'">Example Class 17</th> 
				<th onClick="location.href='/woodlandm/exampleclass18'">Example Class 18</th> 
				<th onClick="location.href='/woodlandm/exampleclass19'">Example Class 19</th> 
				<th onClick="location.href='/woodlandm/exampleclass20'">Example Class 20</th> 
				<th onClick="location.href='/woodlandm/exampleclass21'">Example Class 21</th> 
				<th onClick="location.href='/woodlandm/exampleclass22'">Example Class 22</th> 
				<th onClick="location.href='/woodlandm/exampleclass23'">Example Class 23</th> 
				<th onClick="location.href='/woodlandm/exampleclass24'">Example Class 24</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass25'">Example Class 25</th> 
				<th onClick="location.href='/woodlandm/exampleclass26'">Example Class 26</th> 
				<th onClick="location.href='/woodlandm/exampleclass27'">Example Class 27</th> 
				<th onClick="location.href='/woodlandm/exampleclass28'">Example Class 28</th> 
				<th onClick="location.href='/woodlandm/exampleclass29'">Example Class 29</th> 
				<th onClick="location.href='/woodlandm/exampleclass30'">Example Class 30</th> 
				<th onClick="location.href='/woodlandm/exampleclass31'">Example Class 31</th> 
				<th onClick="location.href='/woodlandm/exampleclass32'">Example Class 32</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass33'">Example Class 33</th> 
				<th onClick="location.href='/woodlandm/exampleclass34'">Example Class 34</th> 
				<th onClick="location.href='/woodlandm/exampleclass35'">Example Class 35</th> 
				<th onClick="location.href='/woodlandm/exampleclass36'">Example Class 36</th> 
				<th onClick="location.href='/woodlandm/exampleclass37'">Example Class 37</th> 
				<th onClick="location.href='/woodlandm/exampleclass38'">Example Class 38</th> 
				<th onClick="location.href='/woodlandm/exampleclass39'">Example Class 39</th> 
				<th onClick="location.href='/woodlandm/exampleclass40'">Example Class 40</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass41'">Example Class 41</th> 
				<th onClick="location.href='/woodlandm/exampleclass42'">Example Class 42</th> 
				<th onClick="location.href='/woodlandm/exampleclass43'">Example Class 43</th> 
				<th onClick="location.href='/woodlandm/exampleclass44'">Example Class 44</th> 
				<th onClick="location.href='/woodlandm/exampleclass45'">Example Class 45</th> 
				<th onClick="location.href='/woodlandm/exampleclass46'">Example Class 46</th> 
				<th onClick="location.href='/woodlandm/exampleclass47'">Example Class 47</th> 
				<th onClick="location.href='/woodlandm/exampleclass48'">Example Class 48</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass49'">Example Class 49</th> 
				<th onClick="location.href='/woodlandm/exampleclass50'">Example Class 50</th> 
				<th onClick="location.href='/woodlandm/exampleclass51'">Example Class 51</th> 
				<th onClick="location.href='/woodlandm/exampleclass52'">Example Class 52</th> 
				<th onClick="location.href='/woodlandm/exampleclass53'">Example Class 53</th> 
				<th onClick="location.href='/woodlandm/exampleclass54'">Example Class 54</th> 
				<th onClick="location.href='/woodlandm/exampleclass55'">Example Class 55</th> 
				<th onClick="location.href='/woodlandm/exampleclass56'">Example Class 56</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass57'">Example Class 57</th> 
				<th onClick="location.href='/woodlandm/exampleclass58'">Example Class 58</th> 
				<th onClick="location.href='/woodlandm/exampleclass59'">Example Class 59</th> 
				<th onClick="location.href='/woodlandm/exampleclass60'">Example Class 60</th> 
				<th onClick="location.href='/woodlandm/exampleclass61'">Example Class 61</th> 
				<th onClick="location.href='/woodlandm/exampleclass62'">Example Class 62</th> 
				<th onClick="location.href='/woodlandm/exampleclass63'">Example Class 63</th> 
				<th onClick="location.href='/woodlandm/exampleclass64'">Example Class 64</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass65'">Example Class 65</th> 
				<th onClick="location.href='/woodlandm/exampleclass66'">Example Class 66</th> 
				<th onClick="location.href='/woodlandm/exampleclass67'">Example Class 67</th> 
				<th onClick="location.href='/woodlandm/exampleclass68'">Example Class 68</th> 
				<th onClick="location.href='/woodlandm/exampleclass69'">Example Class 69</th> 
				<th onClick="location.href='/woodlandm/exampleclass70'">Example Class 70</th> 
				<th onClick="location.href='/woodlandm/exampleclass71'">Example Class 71</th> 
				<th onClick="location.href='/woodlandm/exampleclass72'">Example Class 72</th> 
			</tr>
			<tr>
				<th onClick="location.href='/woodlandm/exampleclass73'">Example Class 73</th> 
				<th onClick="location.href='/woodlandm/exampleclass74'">Example Class 74</th> 
				<th onClick="location.href='/woodlandm/exampleclass75'">Example Class 75</th> 
				<th onClick="location.href='/woodlandm/exampleclass76'">Example Class 76</th> 
				<th onClick="location.href='/woodlandm/exampleclass77'">Example Class 77</th> 
				<th onClick="location.href='/woodlandm/exampleclass78'">Example Class 78</th> 
				<th onClick="location.href='/woodlandm/exampleclass79'">Example Class 79</th> 
				<th onClick="location.href='/woodlandm/exampleclass80'">Example Class 80</th> 
			</tr>
		</table>
	</div>
	<div id="footer">
	</div>
</body>
</html>
{% endblock %}