{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Class Exchange Home</title>
  <link rel="stylesheet" type="text/css" href="\static\root.css">
</head>

<body>

<div id=header>
	<h1>Class Exchange</h1>
	<h3>Williamson County Schools</h3>
</div>

<table class=indextable>
  <tr>
    <th onClick="location.href='/brentwoodm'">
<span class=school>Brentwood Middle School</span><br /><br />
5324 Murray Lane<br /><br />
Brentwood, TN 37027</th>
    <th onClick="location.href='/fairviewm'">
<span class=school>Fairview Middle School</span><br /><br />
7200 Cumberland Drive<br /><br />
Fairview, TN 37062</th>
    <th onClick="location.href='/grasslandm'">
<span class=school>Grassland Middle School</span><br /><br />
2390 Hillsboro Road<br /><br />
Franklin, TN 37069</th>
    <th onClick="location.href='/heritagem'">
<span class=school>Heritage Middle School</span><br /><br />
4803 Columbia Pike<br /><br />
Thompson Station, TN 37179</th>
    <th onClick="location.href='/hillsborom'">
<span class=school>Hillsboro Middle School</span><br /><br />
5412 Pinewood Road<br /><br />
Franklin, TN 37064</th>
    <th onClick="location.href='/mill_creekm'">
<span class=school>Mill Creek Middle School</span><br /><br />
200 York Trail<br /><br />
Nolensville, TN 37135</th>
    <th onClick="location.href='/pagem'">
<span class=school>Page Middle School</span><br /><br />
6262 Arno Road<br /><br />
Franklin, TN 37064</th>
    <th onClick="location.href='/spring_stationm'">
<span class=school>Spring Station Middle School</span><br /><br />
1000 Spring Station Road<br /><br />
Spring Hill, TN 37174</th>
  </tr>
    <tr>
    <th onClick="location.href='/sunsetm'">
<span class=school>Sunset Middle School</span><br /><br />
200 Sunset Trail<br /><br />
Brentwood, TN 37027</th>
    <th onClick="location.href='/thompsons_stationm'">
<span class=school>Thompson’s Station Middle School</span><br /><br />
2638 Clayton Arnold Road<br /><br />
Thompson’s Station, TN 37179</th>
    <th onClick="location.href='/woodlandm'">
<span class=school>Woodland Middle School</span><br /><br />
1500 Volunteer Parkway<br /><br />
Brentwood, TN 37027</th>
    <th onClick="location.href='/brentwoodh'">
<span class=school>Brentwood High School</span><br /><br />
5304 Murray Lane<br /><br />
Brentwood, TN 37027</th>
    <th onClick="location.href='/centennialh'">
<span class=school>Centennial High School</span><br /><br />
5050 Mallory Lane<br /><br />
Franklin, TN 37067</th>
    <th onClick="location.href='/fairviewh'">
<span class=school>Fairview High School</span><br /><br />
2595 Fairview Blvd<br /><br />
Fairview, TN 37062</th>
    <th onClick="location.href='/franklinh'">
<span class=school>Franklin High School</span><br /><br />
810 Hillsboro Road<br /><br />
Franklin, TN 37064</th>
    <th onClick="location.href='/independenceh'">
<span class=school>Independence High School</span><br /><br />
1776 Declaration Way<br /><br />
Thompson's Station,TN 37179</th>
  </tr>
</table>  
<table class=smalltable id=center>  
    <tr>
    <th onClick="location.href='/nolensvilleh'">
<span class=school>Nolensville High School</span><br /><br />
1600 Summerlyn Drive<br /><br />
Nolensville, TN 37135</th>
    <th onClick="location.href='/pageh'">
<span class=school>Page High School</span><br /><br />
6281 Arno Road<br /><br />
Franklin, TN 37064</th>
    <th onClick="location.href='/ravenwoodh'">
<span class=school>Ravenwood High School</span><br /><br />
1724 Wilson Pike<br /><br />
Brentwood, TN 37027</th>
    <th onClick="location.href='/renaissanceh'">
<span class=school>Renaissance High School</span><br /><br />
108 Everbright Avenue<br /><br />
Franklin, TN 37064</th>
    <th onClick="location.href='/summith'">
<span class=school>Summit High School</span><br /><br />
2830 Twin Lakes Drive<br /><br />
Spring Hill, TN 37174</th>
  </tr>



</table>
<div id=version>v.0.0.1 dev build
</div>
</body>
</html>
{% endblock %}