{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html>
<head>
	<title>Woodlandm Example Class 1</title>
	<script src="/static/chatroom.js"></script>
</head>
	<body>
	<div id=header>
		<h1>Example Class 1</h1>
		<h3>Woodland Middle</h3>
	
	</div>
	
	
	
	
	<div id=chatbox>
		Hello 
		
		<form method="post", action='/woodlandm/exampleclass1P'>
            What is your message?<br>
            <input type="text" name="field1"><br>
            <input type="submit" value="Submit">
        </form>
		
		
	</div>





	</body>
</html>
{% endblock %}
